@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply font-sans text-gray-900 bg-gray-50 antialiased;
  }

  #app {
    @apply min-h-screen;
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
